* {
    background-color: rgb(41, 39, 39);
    color: white;
}

img {
    height: 300px;
    width: auto;
}

h1 {
    text-align: center;
}

h1, h3 {
    color:rgb(241, 187, 7);
    font-family: Monospace, Sans-serif;
}

a {
    color:rgb(204, 99, 14);
}

li {
    font-family: cursive;
}

li a {
    font-family:'Times New Roman', Times, serif
}